security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="2ul78UfKu4HIXrS5cYXhdB" password="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2F1dGguY29uZHVrdG9yLmlvIiwic291cmNlQXBwbGljYXRpb24iOiJhZG1pbiIsInVzZXJNYWlsIjpudWxsLCJwYXlsb2FkIjp7InZhbGlkRm9yVXNlcm5hbWUiOiIydWw3OFVmS3U0SElYclM1Y1lYaGRCIiwib3JnYW5pemF0aW9uSWQiOjcwMDc1LCJ1c2VySWQiOjgxMDE3LCJmb3JFeHBpcmF0aW9uQ2hlY2siOiI5ZjY3Y2ViNC0xMjEyLTQ3NjctODczNS1lM2Y0ZjhiZGZmMGYifX0.Lt6iQCeyu9UBoq18axMYOBIL77nTjCAzXX_FIaOScDo";
sasl.mechanism=PLAIN